@import "_variables";
@import "_navbar";
@import "_footer";

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FCFFF7;
    font-family: "Quicksand", sans-serif;
}

h3{
    text-align: center
}

h3{
    padding-top: map-get($map: $estilosTitulos, $key: marginh3);
}

h5{
    text-decoration: map-get($map: $estilosTitulos, $key: sizeh5);
    padding: map-get($map: $estilosTitulos, $key: paddingh5);
}

.sinpadding{
    padding: $sinpadding;
}

@mixin parrafos ($marginP, $paddingP, $lineHeight) {
margin: $marginP;
padding: $paddingP;
line-height: $lineHeight;
}

.recetas{
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;

    
    .recetas-img{
        height: auto;
        background: linear-gradient(#7b2f3d, white);
        padding: 1rem;

        img{
            width: 80%;
            height: auto;
        }
    }

    .recetas-ingredientes{
        height: auto;
        background-color: #E5D7D9;
        padding-left: 1.5rem;

        p{
            @include parrafos(0, 1rem, 1.5625rem)}
    
        ul{
            list-style: disc;
        }
    }

    .recetas-procedimiento{
        height: auto;
        background-color: #F5F0F1;
        @include parrafos(0, 1.5rem, 1.5625rem)
    }
}

.precio{
    width: fit-content;
    padding: 5px 10px;
    align-self: center;
    border: solid 1.8px;
    border-color: black;
    border-radius: 10px;
    &:hover{
        cursor: pointer;
    }
}

.precio--sinstock{
    @extend .precio;
    background-color: rgb(207, 204, 204);
    text-decoration: line-through;
    &:hover{
        cursor: default;
    }
}

.recetas-procedimiento{
    height: auto;
    background-color: #F5F0F1;
}